SECTION 2.1

In [62]:
print("Hello world")

Hello world

SECTION 2.2

In [64]:
In [1]: a = 5
In [2]: print(a)

5

In [65]:
In [5]: import numpy as np
In [6]: data = [np.random.standard_normal() for i in range(7)]
In [7]: data

[-0.6412440318129384,
 1.4813606148447722,
 1.7277686980894484,
 -0.6898649573836376,
 0.35521632568053474,
 -0.5457429951759785,
 -2.16305697556568]

In [66]:
# My testing
print(data)

[-0.6412440318129384, 1.4813606148447722, 1.7277686980894484, -0.6898649573836376, 0.35521632568053474, -0.5457429951759785, -2.16305697556568]

In [67]:
# Textbook Example
In [1]: b = [1, 2, 3]

In [2]: b?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [68]:
# Textbook Example
In [3]: print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [69]:
# Textbook Example
def add_numbers(a, b):
    """
    Add two numbers together

    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [70]:
In [6]: add_numbers?

Signature: add_numbers(a, b)
Docstring:
Add two numbers together

Returns
-------
the_sum : type of arguments
File:      c:\users\nhu ngo\appdata\local\temp\ipykernel_19592\332404450.py
Type:      function

In [71]:
# Textbook Example
In [9]: import numpy as np

In [10]: np.*load*?

np.__loader__
np.load
np.loadtxt

SECTION 2.3

In [73]:
# My example array and pivot
array = [3, 6, 8, 10, 1, 2, 1]
pivot = 5

# Lists to hold partitioned values
less = []
greater = []

# Textbook Example 
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

# Output the result
print("Less than pivot:", less)
print("Greater than or equal to pivot:", greater)

Less than pivot: [3, 1, 2, 1]
Greater than or equal to pivot: [6, 8, 10]

In [74]:
# My Example
# Simulating a file with a list of strings
file_handle = [
    "This is a line with foo in it.\n",
    "foo appears again in this line.\n",
    "\n",  # This is an empty line
    "No foo here.\n",
    "foofoofoo should become barbarbar.\n"
]

# Textbook Example
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace("foo", "bar"))

# Printing the results for my texting
for result in results:
    print(result, end='')  # Using end='' to avoid adding extra newlines

# Textbook Example
print("Reached this line")  # Simple status report

This is a line with bar in it.
bar appears again in this line.

No bar here.
barbarbar should become barbarbar.
Reached this line

In [75]:
# Textbook Example
In [8]: a = [1, 2, 3]

In [9]: b = a

In [10]: b

[1, 2, 3]

In [76]:
# Textbook Example
In [11]: a.append(4)

In [12]: b

[1, 2, 3, 4]

In [77]:
# Textbook Example
In [13]: def append_element(some_list, element):
    some_list.append(element)

In [78]:
# Textbook Example
In [14]: data = [1, 2, 3]
In [15]: append_element(data, 4)

In [16]:data

In [79]:
In [17]: a = 5
In [18]: type(a)

int

In [80]:
In [19]: a = "foo"
In [20]: type(a)

str

In [81]:
In [21]: "5" + 5

TypeError: can only concatenate str (not "int") to str

In [300]:
In [22]: a = 4.5
In [23]: b = 2
In [24]: print(f"a is {type(a)}, b is {type(b)}")

a is <class 'float'>, b is <class 'int'>

In [302]:
In [25]: a / b

2.25

In [304]:
In [26]: a = 5
In [27]: isinstance(a, int)

True

In [306]:
In [28]:a = 5; b = 4.5
In [29]: isinstance(a, (int, float))

True

In [308]:
In [30]: isinstance(b, (int, float))

True

In [310]:
In [1]: a = "foo"
In [32]: getattr(a, "split")

In [312]:
In [33]: def isiterable(obj):
            try:
                iter(obj)
                return True
            except TypeError: # not iterable
                return False

In [314]:
In [34]: isiterable("a string")

True

In [316]:
In [35]: isiterable([1, 2, 3])

True

In [318]:
In [36]: isiterable(5)

False

In [320]:
In [37]: 5 - 7

-2

In [322]:
In [38]: 12 + 21.5

33.5

In [324]:
In [39]: 5 <= 2

False

In [326]:
In [40]: a = [1, 2, 3]
In [41]: b = a
In [42]: c = list(a)
In [43]: a is b

True

In [328]:
In [44]: a is not c

True

In [329]:
In [45]: a == c

True

In [332]:
In [46]: a = None
In [47]: a is None

True

In [333]:
In [48]: a_list = ["foo", 2, [4, 5]]
In [49]: a_list[2] = (3, 4)
In [50]: a_list

['foo', 2, (3, 4)]

In [336]:
In [51]: a_tuple = (3, 5, (4, 5))
In [52]: a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [337]:
In [53]: ival = 17239871
In [54]: ival * 6

103439226

In [339]:
In [55]: fval = 7.243

In [56]: fval2 = 6.78e-5

In [342]:
In [57]: 3/2

1.5

In [344]:
In [58]: 3//2

1

In [346]:
a = 'one way of writing a string'
b = "another way"
c = """
This is a longer string that
spans multiple lines
"""

In [348]:
In [60]: c.count("\n")

3

In [350]:
In [61]: a = "this is a string"
In [62]: a[10] = "f"

TypeError: 'str' object does not support item assignment

In [351]:
In [63]: b = a.replace("string", "longer string")
In [64]: b

'this is a longer string'

In [354]:
In [65]: a

'this is a string'

In [356]:
In [66]: a = 5.6

In [67]: s = str(a)

In [68]: print(s)

5.6

In [358]:
In [69]: s = "python"
In [70]: list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [360]:
In [71]: s[:3]

'pyt'

In [362]:
In [74]: s = r"this\has\no\special\characters"

In [75]: s

'this\\has\\no\\special\\characters'

In [363]:
In [76]: a = "this is the first half "

In [77]: b = "and this is the second half"

In [78]: a + b

'this is the first half and this is the second half'

In [366]:
In [79]: template = "{0:.2f} {1:s} are worth US${2:d}"

In [368]:
In [80]: template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [369]:
In [81]: amount = 10

In [82]: rate = 88.46

In [83]: currency = "Pesos"

In [84]: result = f"{amount} {currency} is worth US${amount / rate}"

In [372]:
In [85]: f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

In [374]:
In [86]: val = "español"

In [87]: val

'español'

In [375]:
In [88]: val_utf8 = val.encode("utf-8")

In [89]: val_utf8

b'espa\xc3\xb1ol'

In [376]:
In [90]: type(val_utf8)

bytes

In [379]:
In [95]: True and True

True

In [381]:
In [96]: False or True

True

In [383]:
In [97]: int(False)

0

In [386]:
In [98]: int(True)

1

In [387]:
In [99]: a = True

In [100]: b = False

In [101]: not a

False

In [389]:
In [102]: not b

True

In [391]:
In [103]: s = "3.14159"

In [104]: fval = float(s)

In [105]: type(fval)

float

In [394]:
In [106]: int(fval)

3

In [395]:
In [107]: bool(fval)

True

In [398]:
In [108]: bool(0)

False

In [400]:
In [109]: a = None

In [110]: a is None

True

In [401]:
In [111]: b = 5

In [112]: b is not None

True

In [403]:
# Textbook Example
def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

In [406]:
# My example
add_and_maybe_multiply(1,2,None)

3

In [408]:
In [113]: from datetime import datetime, date, time

In [114]: dt = datetime(2011, 10, 29, 20, 30, 21)

In [115]: dt.day

29

In [409]:
In [116]: dt.minute

30

In [412]:
In [117]: dt.date()

datetime.date(2011, 10, 29)

In [413]:
In [118]: dt.time()

datetime.time(20, 30, 21)

In [415]:
In [119]: dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [417]:
In [120]: datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [419]:
In [121]: dt_hour = dt.replace(minute=0, second=0)

In [122]: dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [421]:
In [123]: dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [423]:
In [124]: dt2 = datetime(2011, 11, 15, 22, 30)

In [125]: delta = dt2 - dt

In [126]: delta

datetime.timedelta(days=17, seconds=7179)

In [425]:
In [127]: type(delta)

datetime.timedelta

In [427]:
In [128]: dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [429]:
In [129]: dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [431]:
# Textbook Example
x = -5
if x < 0:
    print("It's negative")

It's negative

In [434]:
# Textbook Example
if x < 0:
    print("It's negative")
elif x == 0:
    print("Equal to zero")
elif 0 < x < 5:
    print("Positive but smaller than 5")
else:
    print("Positive and larger than or equal to 5")

It's negative

In [435]:
In [130]: a = 5; b = 7

In [131]: c = 8; d = 4

In [132]: if a < b or c > d:
            print("Make it")

Make it

In [438]:
In [133]: 4 > 3 > 2 > 1

True

In [440]:
# Textbook Example
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

# My Example to test
print(total)

12

In [442]:
# Textbook Example
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

# My Example to test
print(total_until_5)

13

In [444]:
In [134]: for i in range(4):
            for j in range(4):
                if j > i:
                    break
                print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [445]:
if x < 0:
    print("negative!")
elif x == 0:
    # TODO: put something smart here
    print("The number is 0!")
    pass
else:
    print("positive!")

negative!

In [447]:
In [135]: range(10)

range(0, 10)

In [450]:
In [136]: list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [452]:
In [137]: list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [454]:
In [138]: list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [455]:
In [139]: seq = [1, 2, 3, 4]

In [140]: for i in range(len(seq)):
              print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [458]:
In [141]: total = 0

In [142]: for i in range(100_000):
              # % is the modulo operator
             if i % 3 == 0 or i % 5 == 0:
                 total += i

In [143]: print(total)

2333316668

CHAP 3

SECTION 3.1

In [462]:
In [2]: tup = (4, 5, 6)

In [3]: tup

(4, 5, 6)

In [464]:
In [4]: tup = 4, 5, 6

In [5]: tup

(4, 5, 6)

In [466]:
In [6]: tuple([4, 0, 2])

(4, 0, 2)

In [468]:
In [7]: tup = tuple('string')

In [8]: tup

('s', 't', 'r', 'i', 'n', 'g')

In [470]:
In [9]: tup[0]

's'

In [472]:
In [10]: nested_tup = (4, 5, 6), (7, 8)

In [11]: nested_tup

((4, 5, 6), (7, 8))

In [474]:
In [12]: nested_tup[0]

(4, 5, 6)

In [476]:
In [13]: nested_tup[1]

(7, 8)

In [478]:
In [14]: tup = tuple(['foo', [1, 2], True])

In [15]: tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [479]:
In [16]: tup[1].append(3)

In [17]: tup

('foo', [1, 2, 3], True)

In [482]:
In [18]: (4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [484]:
In [19]: ('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [486]:
In [20]: tup = (4, 5, 6)

In [21]: a, b, c = tup

In [22]: b

5

In [488]:
In [23]: tup = 4, 5, (6, 7)

In [24]: a, b, (c, d) = tup

In [25]: d

7

In [490]:
# My test
print(a)
print(b)

4
5

In [491]:
tmp = a
a = b
b = tmp

In [494]:
# My test
print(tmp)
print(a)
print(b)

4
5
4

In [496]:
In [26]: a, b = 1, 2

In [27]: a

1

In [498]:
In [28]: b

2

In [500]:
In [29]: b, a = a, b

In [30]: a

2

In [501]:
In [31]: b

1

In [503]:
In [32]: seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [33]: for a, b, c in seq:
   ....:     print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [506]:
In [34]: values = 1, 2, 3, 4, 5

In [35]: a, b, *rest = values

In [36]: a

1

In [508]:
In [37]: b

2

In [509]:
In [38]: rest

[3, 4, 5]

In [511]:
In [39]: a, b, *_ = values

In [513]:
In [40]: a = (1, 2, 2, 2, 3, 4, 2)

In [41]: a.count(2)

4

In [516]:
In [42]: a_list = [2, 3, 7, None]

In [43]: tup = ("foo", "bar", "baz")

In [44]: b_list = list(tup)

In [45]: b_list

['foo', 'bar', 'baz']

In [518]:
In [46]: b_list[1] = "peekaboo"

In [47]: b_list

['foo', 'peekaboo', 'baz']

In [520]:
In [48]: gen = range(10)

In [49]: gen

range(0, 10)

In [521]:
In [50]: list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [524]:
In [51]: b_list.append("dwarf")

In [52]: b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [525]:
In [53]: b_list.insert(1, "red")

In [54]: b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [527]:
In [55]: b_list.pop(2)

'peekaboo'

In [529]:
In [56]: b_list

['foo', 'red', 'baz', 'dwarf']

In [531]:
In [57]: b_list.append("foo")

In [58]: b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [533]:
In [59]: b_list.remove("foo")

In [60]: b_list

['red', 'baz', 'dwarf', 'foo']

In [536]:
In [61]: "dwarf" in b_list

True

In [538]:
In [62]: "dwarf" not in b_list

False

In [540]:
In [63]: [4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [541]:
In [64]: x = [4, None, "foo"]

In [65]: x.extend([7, 8, (2, 3)])

In [66]: x

[4, None, 'foo', 7, 8, (2, 3)]

In [544]:
# My Example
list_of_lists = [1, 2, 3, 4, 5, 6, 7]

# Textbook Example
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

TypeError: 'int' object is not iterable

In [545]:
# My Example
list_of_lists = [[1], [2], [3], [4], [5], [6], [7]]

# Textbook Example
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

print(everything)

[1, 2, 3, 4, 5, 6, 7]

In [546]:
In [67]: a = [7, 2, 5, 1, 3]

In [68]: a.sort()

In [69]: a

[1, 2, 3, 5, 7]

In [547]:
In [70]: b = ["saw", "small", "He", "foxes", "six"]

In [71]: b.sort(key=len)

In [72]: b

['He', 'saw', 'six', 'small', 'foxes']

In [551]:
In [73]: seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [74]: seq[1:5]

[2, 3, 7, 5]

In [553]:
In [75]: seq[3:5] = [6, 3]

In [76]: seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [555]:
In [77]: seq[:5]

[7, 2, 3, 6, 3]

In [557]:
In [79]: seq[-4:]

[3, 6, 0, 1]

In [560]:
In [80]: seq[-6:-2]

[3, 6, 3, 6]

In [562]:
In [81]: seq[::2]

[7, 3, 3, 0]

In [564]:
In [82]: seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

In [566]:
In [83]: empty_dict = {}

In [84]: d1 = {"a": "some value", "b": [1, 2, 3, 4]}

In [85]: d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [568]:
In [86]: d1[7] = "an integer"

In [87]: d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [570]:
In [88]: d1["b"]

[1, 2, 3, 4]

In [572]:
In [89]: "b" in d1

True

In [574]:
In [90]: d1[5] = "some value"

In [91]: d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [576]:
In [92]: d1["dummy"] = "another value"

In [93]: d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [578]:
In [94]: del d1[5]

In [95]: d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [579]:
In [96]: ret = d1.pop("dummy")

In [97]: ret

'another value'

In [581]:
In [98]: d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [583]:
In [99]: list(d1.keys())

['a', 'b', 7]

In [584]:
In [100]: list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [588]:
In [101]: list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [589]:
In [102]: d1.update({"b": "foo", "c": 12})

In [103]: d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [590]:
# Example key and value lists
key_list = ['a', 'b', 'c', 'd']
value_list = [1, 2, 3, 4]

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

# Print the resulting dictionary
print(mapping)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [592]:
In [104]: tuples = zip(range(5), reversed(range(5)))

In [105]: tuples

In [594]:
In [106]: mapping = dict(tuples)

In [107]: mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [595]:
# Example dictionary
some_dict = {'a': 1, 'b': 2, 'c': 3}

# Key to check
key = 'd'

# Default value if key is not found
default_value = 0

# Textbook Example
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

# Print the result
print(f"The value for key '{key}' is: {value}")

The value for key 'd' is: 0

In [597]:
value = some_dict.get(key, default_value)
value

0

In [600]:
In [108]: words = ["apple", "bat", "bar", "atom", "book"]

In [109]: by_letter = {}

In [110]: for word in words:
   .....:     letter = word[0]
   .....:     if letter not in by_letter:
   .....:         by_letter[letter] = [word]
   .....:     else:
   .....:         by_letter[letter].append(word)

In [111]: by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [603]:
In [112]: by_letter = {}

In [113]: for word in words:
   .....:     letter = word[0]
   .....:     by_letter.setdefault(letter, []).append(word)
   .....:

In [114]: by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [605]:
In [115]: from collections import defaultdict

In [116]: by_letter = defaultdict(list)

In [117]: for word in words:
   .....:     by_letter[word[0]].append(word)

# My test
print(by_letter)

defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [607]:
In [118]: hash("string")

-4119100319806951836

In [609]:
In [119]: hash((1, 2, (2, 3)))

-9209053662355515447

In [612]:
In [120]: hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [614]:
In [121]: d = {}

In [122]: d[tuple([1, 2, 3])] = 5

In [123]: d

{(1, 2, 3): 5}

In [616]:
In [124]: set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [618]:
In [125]: {2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [620]:
In [126]: a = {1, 2, 3, 4, 5}

In [127]: b = {3, 4, 5, 6, 7, 8}

In [622]:
In [128]: a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [624]:
In [129]: a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [626]:
In [130]: a.intersection(b)

{3, 4, 5}

In [628]:
In [131]: a & b

{3, 4, 5}

In [630]:
In [132]: c = a.copy()

In [133]: c |= b

In [134]: c

{1, 2, 3, 4, 5, 6, 7, 8}

In [632]:
In [135]: d = a.copy()

In [136]: d &= b

In [137]: d

{3, 4, 5}

In [634]:
In [138]: my_data = [1, 2, 3, 4]

In [139]: my_set = {tuple(my_data)}

In [140]: my_set

{(1, 2, 3, 4)}

In [636]:
In [141]: a_set = {1, 2, 3, 4, 5}

In [142]: {1, 2, 3}.issubset(a_set)

True

In [637]:
In [143]: a_set.issuperset({1, 2, 3})

True

In [640]:
In [144]: {1, 2, 3} == {3, 2, 1}

True

In [642]:
# Example collection
collection = ['apple', 'banana', 'cherry']

# Initialize index
index = 0

# Textbook Example
for value in collection:
    # Do something with value
    print(f"Index: {index}, Value: {value}")
    
    # Increment index
    index += 1

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

In [644]:
# Example Textbook
for index, value in enumerate(collection):
    # Do something with value
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

In [646]:
In [145]: sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [648]:
In [146]: sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [650]:
In [147]: seq1 = ["foo", "bar", "baz"]

In [148]: seq2 = ["one", "two", "three"]

In [149]: zipped = zip(seq1, seq2)

In [150]: list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [652]:
In [151]: seq3 = [False, True]

In [152]: list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [654]:
In [153]: for index, (a, b) in enumerate(zip(seq1, seq2)):
   .....:     print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [656]:
In [154]: list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [658]:
# Example collection
collection = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize an empty result list
result = []

# Iterate over the collection
for value in collection:
    # Define a condition (e.g., keep only even numbers)
    if value % 2 == 0:
        # Define an expression (e.g., square the value)
        result.append(value ** 2)

# Print the resulting list
print(result)

[4, 16, 36, 64, 100]

In [660]:
In [155]: strings = ["a", "as", "bat", "car", "dove", "python"]

In [156]: [x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [662]:
# Example collection
collection = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

dict_comp = {value: value ** 2 for value in collection if value % 2 == 0}

# Print the resulting dictionary
print(dict_comp)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [664]:
# Example collection
collection = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Set comprehension with a condition
set_comp = {value ** 2 for value in collection if value % 2 == 0}

# Print the resulting set
print(set_comp)

{64, 100, 4, 36, 16}

In [666]:
In [157]: unique_lengths = {len(x) for x in strings}

In [158]: unique_lengths

{1, 2, 3, 4, 6}

In [668]:
In [159]: set(map(len, strings))

{1, 2, 3, 4, 6}

In [670]:
In [160]: loc_mapping = {value: index for index, value in enumerate(strings)}

In [161]: loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [672]:
In [162]: all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
   .....:             ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [674]:
In [163]: names_of_interest = []

In [164]: for names in all_data:
   .....:     enough_as = [name for name in names if name.count("a") >= 2]
   .....:     names_of_interest.extend(enough_as)

In [165]: names_of_interest

['Maria', 'Natalia']

In [676]:
In [166]: result = [name for names in all_data for name in names
   .....:           if name.count("a") >= 2]

In [167]: result

['Maria', 'Natalia']

In [678]:
In [168]: some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [169]: flattened = [x for tup in some_tuples for x in tup]

In [170]: flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [680]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [682]:
In [172]: [[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [684]:
In [173]: def my_function(x, y):
   .....:     return x + y

In [686]:
In [174]: my_function(1, 2)

3

In [688]:
In [175]: result = my_function(1, 2)

In [176]: result

3

In [690]:
In [177]: def function_without_return(x):
   .....:     print(x)

In [178]: result = function_without_return("hello!")

hello!

In [692]:
In [179]: print(result)

None

In [694]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [696]:
In [181]: my_function2(5, 6, z=0.7)

0.06363636363636363

In [698]:
In [182]: my_function2(3.14, 7, 3.5)

35.49

In [700]:
In [183]: my_function2(10, 20)

45.0

In [702]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [704]:
In [184]: a = []

In [185]: def func():
   .....:     for i in range(5):
   .....:         a.append(i)

In [706]:
In [186]: func()

In [187]: a

[0, 1, 2, 3, 4]

In [708]:
In [188]: func()

In [189]: a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [710]:
In [190]: a = None

In [191]: def bind_a_variable():
   .....:     global a
   .....:     a = []
   .....: bind_a_variable()
   .....:

In [192]: print(a)

[]

In [711]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [712]:
return_value = f()

In [716]:
def f():
    a = 5
    b = 6
    c = 7
    return {"a" : a, "b" : b, "c" : c}

In [717]:
In [193]: states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda", "south   carolina##", "West virginia?"]

In [718]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [719]:
In [195]: clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [720]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [721]:
In [197]: clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [723]:
In [198]: for x in map(remove_punctuation, states):
   .....:     print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [727]:
In [199]: def short_function(x):
   .....:     return x * 2

In [200]: equiv_anon = lambda x: x * 2

In [729]:
In [201]: def apply_to_list(some_list, f):
   .....:     return [f(x) for x in some_list]

In [202]: ints = [4, 0, 1, 5, 6]

In [203]: apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [732]:
In [204]: strings = ["foo", "card", "bar", "aaaa", "abab"]

In [734]:
In [205]: strings.sort(key=lambda x: len(set(x)))

In [206]: strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [737]:
In [207]: some_dict = {"a": 1, "b": 2, "c": 3}

In [208]: for key in some_dict:
   .....:     print(key)

a
b
c

In [739]:
In [209]: dict_iterator = iter(some_dict)

In [210]: dict_iterator

In [742]:
In [211]: list(dict_iterator)

['a', 'b', 'c']

In [744]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [745]:
In [213]: gen = squares()

In [214]: gen

In [748]:
In [215]: for x in gen:
   .....:     print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [750]:
In [216]: gen = (x ** 2 for x in range(100))

In [217]: gen

In [752]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [754]:
In [218]: sum(x ** 2 for x in range(100))

328350

In [756]:
In [219]: dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [758]:
In [220]: import itertools

In [221]: def first_letter(x):
   .....:     return x[0]

In [222]: names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

In [223]: for letter, names in itertools.groupby(names, first_letter):
   .....:     print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [760]:
In [224]: float("1.2345")

1.2345

In [762]:
In [225]: float("something")

ValueError: could not convert string to float: 'something'

In [764]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [766]:
In [227]: attempt_float("1.2345")

1.2345

In [768]:
In [228]: attempt_float("something")

'something'

In [770]:
In [229]: float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [772]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [774]:
In [231]: attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [776]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [778]:
def write_to_file(file):
    # Example content to write to the file
    content = ["Imagine\n", "Bohemian Rhapsody\n", "Hotel California\n"]
    
    for line in content:
        file.write(line)

In [780]:
path = "songs.txt"
f = open(path, mode="w")

try:
    write_to_file(f)
finally:
    f.close()

In [782]:
with open(path, mode="r") as file:
    content = file.read()
    print(content)

Imagine
Bohemian Rhapsody
Hotel California

In [784]:
f = open(path, mode="w")

try:
    write_to_file(f)
except:
    print("Failed")
else:
    print("Succeeded")
finally:
    f.close()

Succeeded

In [786]:
In [233]: path = "songs.txt"

In [234]: f = open(path, encoding="utf-8")

In [788]:
for line in f:
    print(line)

Imagine

Bohemian Rhapsody

Hotel California

In [790]:
In [235]: lines = [x.rstrip() for x in open(path, encoding="utf-8")]

In [236]: lines

['Imagine', 'Bohemian Rhapsody', 'Hotel California']

In [792]:
In [237]: f.close()

In [794]:
In [238]: with open(path, encoding="utf-8") as f:
   .....:     lines = [x.rstrip() for x in f]

In [796]:
In [239]: f1 = open(path)

In [240]: f1.read(10)

'Imagine\nBo'

In [798]:
In [241]: f2 = open(path, mode="rb")  # Binary mode

In [242]: f2.read(10)

b'Imagine\r\nB'

In [800]:
In [243]: f1.tell()

11

In [802]:
In [243]: f2.tell()

10

In [804]:
In [245]: import sys

In [246]: sys.getdefaultencoding()

'utf-8'

In [805]:
In [247]: f1.seek(3)

3

In [808]:
In [248]: f1.read(1)

'g'

In [810]:
In [249]: f1.tell()

4

In [812]:
In [250]: f1.close()

In [251]: f2.close()

In [814]:
In [252]: path

'songs.txt'

In [816]:
In [253]: with open("tmp.txt", mode="w") as handle:
   .....:     handle.writelines(x for x in open(path) if len(x) > 1)

In [254]: with open("tmp.txt") as f:
   .....:     lines = f.readlines()

In [255]: lines

['Imagine\n', 'Bohemian Rhapsody\n', 'Hotel California\n']

In [818]:
In [258]: with open(path) as f:
   .....:     chars = f.read(10)

In [259]: chars

'Imagine\nBo'

In [820]:
In [260]: len(chars)

10

In [822]:
In [261]: with open(path, mode="rb") as f:
   .....:     data = f.read(10)

In [262]: data

b'Imagine\r\nB'

In [824]:
In [263]: data.decode("utf-8")

'Imagine\r\nB'

In [826]:
In [264]: data[:4].decode("utf-8")

'Imag'

In [845]:
In [265]: sink_path = "sink.txt"

In [266]: with open(path) as source:
   .....:     with open(sink_path, "x", encoding="iso-8859-1") as sink:
   .....:         sink.write(source.read())

In [267]: with open(sink_path, encoding="iso-8859-1") as f:
   .....:     print(f.read(10))

Imagine
Bo

In [830]:
In [269]: f = open(path, encoding='utf-8')

In [270]: f.read(5)

'Imagi'

In [832]:
In [271]: f.seek(4)

4

In [834]:
In [272]: f.read(1)

'i'

In [836]:
In [273]: f.close()